.App {
  text-align: center;
}

:root {
    --black: #0c1829;
}

body{
  background-image: linear-gradient(to bottom right, rgba(223,77,10,.7), rgba(223,77,10,.2));
}

.flex-even {
  max-width: 60vh;
  border-radius: .5rem;
  margin: 1em;
  box-shadow: 3px 3px 5px var(--black);
  transition: .05s;
}

.flex-even:hover {
    cursor: pointer;
    transform: translate(3px, 3px);
    box-shadow: none;
}

.s-image {
  width: 100%;
  max-width: 100%;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
